@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/card";
@import "components/composition";
@import "components/icons";
@import "components/navigation";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";

@import "pages/blog";
@import "pages/form";   
@import "pages/home";
@import "pages/projects";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');

html {
  background: var(--lightBg);
  color: var(--lightColor);

  --lightBtn: #FFBD07;
  --lightBg: #fff;
  --lightColor: #2c2f33;
  
}

html[data-theme='dark'] {
   background: var(--lightBg);
   color: var(--lightColor);
  --lightBtn: #2c2f33;
  --lightBg: #2c2f33;
  --lightColor: #2c2f33;
}


input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: var(--lightColor);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: var(--lightBtn);
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
 transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked + label {
  background: #FFBD07;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
  transition-delay: 0!important;
}
.dark-mode {
    background-color: #2c2f33;
    color: #ebe7e7;
}

$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;



.timeline {
  width:100%;
  max-width:800px;
  background:rgba(27, 47, 112, 0.562);
  padding: 100px 50px;
  position: relative;
  box-shadow: $container-shadow;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 15px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: #ddd;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  } 
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid salmon;
      background-color:#fff;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:rgba(223, 215, 197, 0.836);
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}
.logo-company{
  width:100px;
  height:100px;
  border-radius: 60%;
  margin-left:100px
}